@page "/"

<PageTitle>Index</PageTitle>

<h2>Durable Functions Demo</h2>
<br />

<h4>Through this demo we will visualize the following workflow patterns:</h4>
<br />

<h3>1. Function Chaining</h3>

<img src="images/Durable Functions - Pattern 1_ Function Chaining.jpg" />

<br /><br />

<h3>2. Fan Out/Fan In</h3>

<img src="images/Durable Functions - Pattern 2_ Fan out_fan in 1024.jpg" />

<br /><br />

<h3>3. Human Interaction</h3>

<img src="images/Durable Functions - Pattern 3_ Human Interaction.jpg" />


